//Optional JavaScript
//jQuery first, then Popper.js, then Bootstrap JS
script(src="js/jquery-3.3.1.min.js")
script(src="js/popper.min.js")
//Jssor Slider
script(src="js/jssor.slider.min.js")
script(src="js/api-event-handling.js")

//  Light Slider Items
script(src="https://unpkg.com/aos@2.3.1/dist/aos.js")



script(src="js/bootstrap.min.js")
script(src="js/main.js")


    
