//Icon Browser
link(rel="shortcut icon" href="images/RallyIcon.ico" type="image/x-icon")
link(rel="icon" href="images/RallyIcon.ico" type="image/x-icon")

//Oswald Font For Google
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Charm:400,700")
//Amiri Font For Google
link(rel="stylesheet" href="https://fontlibrary.org/face/droid-arabic-kufi")



//Jssor CSS Slide main
link(rel="stylesheet" href="css/jssor.css")
//Light CSS slide item
link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")

//Bootstrap CSS
link(rel="stylesheet" href="css/bootstrap.min.css")
//Fontawesome
link(rel="stylesheet" href="css/fontawesome.min.css")
//Main-Style
link(rel="stylesheet" href="css/main-style.css")